@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');

/*-- scss:defaults --*/
$font-family-sans-serif: "Ysabeau";
$font-size-root: 1.2rem;
$font-weight-base: 550;
$line-height-base: 1.4;
