---
title: 
description: Estudiante de pregrado en Biología
image: foto.jpg
about:
  template: trestles
  links:
    - icon: envelope-fill
      text: Email
      href: mailto:
    - icon: mastodon
      text: Mastodon
      href: 
    - icon: telegram
      text: Telegram
      href: 
    - icon: github
      text: GitHub
      href: 
    - icon: twitter
      text: Twitter
      href: 
    - text: "{{< fa brands orcid >}} ORCID"
      href: 
---

